<div class="leftside">
    <div id="aside">
        <h2 class="tit">About Us</h2>
        <nav id="lnb" class="lnb">
            <ul>
                <li class="on"><a href="/aboutus">AROUND ME란?</a></li>
                <li class="on"><a href="/people_info">함께하는 사람들</a></li>
                <li class="on"><a href="/guide_info">홈페이지 가이드</a></li>
            </ul>
        </nav>
    </div>
</div>
