<div class="leftside">
    <div id="aside">
        <h2 class="tit">커뮤니티</h2>
        <nav id="lnb" class="lnb">
            <ul>
                <li class="on"><a href="/areaposts/1/0">지역별 자유게시판</a></li>
                <li><a href="/club/1">동호회</a></li>
                <li><a href="/festival/1">축제 정보</a></li>
                <li><a href="/picture/1">사진 자랑</a></li>
                <li><a href="/promotion">지역홍보 게시판</a></li>
            </ul>
        </nav>
    </div>
</div>
