<link rel="stylesheet" type="text/css" href="../public/common.css">

<link rel="stylesheet" type="text/css" href="../public/create.css">

<base href="/">
<!DOCTYPE html>
<html>

<head>
    
    <% include ../views/header%>
    <meta charset="UTF-8">
    <title>글 작성</title>
    <style>
        nput[type="file"] {
            display: block;
        }

        .imageThumb {
            max-height: 75px;
            border: 2px solid;
            padding: 1px;
            cursor: pointer;
        }

        .pip {
            display: inline-block;
            margin: 10px 10px 0 0;
        }

        .dasds {
            color: 123121f
        }

        .remove {
            display: block;
            background: #444;
            border: 1px solid black;
            color: white;
            text-align: center;
            cursor: pointer;
        }

        .remove:hover {
            background: white;
            color: black;
        }

    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            if (window.File && window.FileList && window.FileReader) {
                $("#files").on("change", function(e) {
                    var files = e.target.files,
                        filesLength = files.length;
                    for (var i = 0; i < filesLength; i++) {
                        var f = files[i]
                        var fileReader = new FileReader();
                        fileReader.onload = (function(e) {
                            var file = e.target;
                            $("<span class=\"pip\">" +
                                "<img class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" +
                                "<br/><span class=\"remove\">Remove image</span>" +
                                "</span>").insertAfter("#files");
                            $(".remove").click(function() {
                                $(this).parent(".pip").remove();
                            });
                        });
                        fileReader.readAsDataURL(f);
                    }
                });
            } else {
                alert("Your browser doesn't support to File API")
            }
        });

    </script>
</head>

<body>
    <div class="contain">
        <div class="main">
            <% include ../views/leftside%>
            <div id="contents">
                <div class="conwrap">
            <p id="areaerror">
            </p>
            <form autocomplete="off" method="post" action="/process/create" enctype="multipart/form-data" onsubmit="return validation();">
                <table>
                    <h3>게시물 작성</h3>
            <br>
                    <tr id="posttitle">
                        <td class="box"><input type="text" name="title" id ="title" placeholder="제목" /></td>
                    </tr>
            
                    <tr id="postcontent">
                        <td class="box"><textarea name="content" id="content" placeholder="내용"></textarea></td>
                    </tr>
                </table>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                <input type='file' id='files' name='userimage' multiple='multiple'>
                <div id="preview">
                </div>
                <% if(type=="resolve"){%>
                <input type="hidden" name="type" value="resolve">
                <%}else if(type=='report'){%>
                <input type="hidden" name="type" value="report">
                <%}else{%>
                <input type="hidden" name="type" value="">
                <%}%>
                <input type="submit" value="작성" />
                
            </form>
        <script>
            document.getElementById("title").value = '';
            document.getElementById("content").value = '';
        function validation()
            {
                if(document.getElementById("title").value =='')
                    {
                        document.getElementById("areaerror").innerHTML = "제목을 입력해 주세요";
                        console.log("실패");
                        return false;
                    }
                if(document.getElementById("content").value =='')
                    {
                        document.getElementById("areaerror").innerHTML = "내용을 입력해 주세요";
                        console.log("실패");
                        return false;
                    }
                
                return true;
            }
        </script>
                </div>
                
        </div>
        </div>
        
    </div>
    <% include ../views/rfooter%>
</body>


</html>
