<link rel="stylesheet" type="text/css" href="../public/header.css">
<nav1>
    <div class="wrap">
        <div id="logo">
            <a href='/main'>
                
            <p>
                <span class="name" id="mainname">
                    AROUND ME</span>
            </p>
                </a>
        </div>
    </div>
    <ul id="menu">
        <li><a href="/areaposts/1/0">자유 게시판</a></li>
        <li><a href='/hotposts/1'>핫 게시판</a></li>
        <li><a href="/areaposts/1/0">지역별 게시판</a></li>
        <li><a href="/">누룽지</a></li>
        <li><a href="/">삼겹살</a></li>
        <div class="alog">
        <% if(islogin==0){%>
        <li><a id="logout" href='/login'>Login</a></li>
        <%}else{%>
        <li>
              <li><h5 class="idshow"><%= info %></h5><br><a id="logout" href='/logout'>Logout</a></li>
        <%}%>
        </div>
    </ul>
</nav1>
 <div class="blank">
    </div>
<div class="blank">
</div>