<link rel="stylesheet" type="text/css" href="../public/header.css">
<nav1>
    <div class="wrap">
        <div id="logo">
            <a href='/'>
                
            <p>
                <span class="name" id="mainname">
                    AROUND ME</span>
            </p>
                </a>
        </div>
        <ul id="account">
        <% if(islogin==0){%>
        <li id="login"><a href='/login'>로그인</a></li>
        <%}else{%>
        <li id="login">
              <a  href='/logout'>로그아웃</a></li>
        <%}%>
        </ul>
        <ul id="menu">
        <li><a href="/AboutUs">About us</a></li>
        <li><a href="/resolveposts/1">What We Do</a></li>
        <li><a href="/posts/1">커뮤니티</a></li>
        <li><a href="/areaposts/1/0">지역별 커뮤니티</a></li>
        <li><a href="/resolveposts/1">지역 뉴스</a></li>
        <li><a href="/reportposts/1">이벤트</a></li>
    </ul>
    </div>
</nav1>