<link rel="stylesheet" type="text/css" href="../public/header.css">
<nav1>
    <div class="wrap">
        <div id="logo">
            <a href='/main'>
                    <img src="../public/tmp2.png" width="60px" height="60px">
                </a>
            <p>
                <span class="name" id="mainname">
                    동네방네</span>
                <span class="subname">
                    서울시 동작구</span>
            </p>
        </div>
    </div>
    <ul id="menu">
        <li><a href='/posts/1'>게시판</a></li>
        <li><a href="/">올빼미</a></li>
        <li><a href="/">누룽지</a></li>
        <li><a href="/">삼겹살</a></li>
    </ul>
</nav1>
<div class="blank">
</div>