<div class="leftside">
    <div id="aside">
        <h2 class="tit">커뮤니티</h2>


        <nav id="lnb" class="lnb">
            <ul>
                <li class="on"><a href="/posts/1">자유게시판</a></li>
                <li><a href="/hotposts/1">핫 게시판</a></li>
                <li><a href="/areaposts/1/0">지역별 게시판</a></li>
                <li><a href="/resolveposts/1">What We Do</a></li>
                <li><a href="/">제안 게시판</a></li>
            </ul>
        </nav>
    </div>
</div>
