<div class="leftside">
    <div id="aside">
        <h2 class="tit">커뮤니티</h2>
        <nav id="lnb" class="lnb">
            <ul>
                <li class="on"><a href="/reportposts/1">제보 게시판</a></li>
                <li class="on"><a href="/accident/1">사건사고 소식</a></li>
                <li class="on"><a href="/posts/1">자유게시판</a></li>
                <li class="on"><a href="/hotposts/1">핫 게시판</a></li>
                <li class="on"><a href="/anonymous/1">익명 게시판</a></li>
            </ul>
        </nav>
    </div>
</div>


<!--
 <li class="on"><a href="/worryposts/1">고민상담</a></li>
                <li class="on"><a href="/oneline/1">한줄글 남기기</a></li>
               
                <li class="on"><a href="/anonymous/1">익명 게시판</a></li>
                <li class="on"><a href="/notice/1">공지사항</a></li>
 <li class="on"><a href="/promotion/1">지역홍보 게시판</a></li>
-->