<link rel="stylesheet" type="text/css" href="../public/common.css">
<!DOCTYPE html>
<base href="/">
<html>
<% if(can == -1){%>
    <script>
        function myFunction() {
            alert("아이디, 비밀번호를 확인하세요.");
        }
        myFunction();

    </script>
    <%}%>

        <head>
            <meta charset="UTF-8">
            <title>동네방네 로그인</title>
            <link rel="stylesheet" type="text/css" href="../public/Signup.css">
        </head>

        <body>
                <form method="post" action="/process/login" id="container" class="login">
                    <h1 class="logo">
                        <a href="/"></a>
                        <img src="../public/loginbanner.png">
                    </h1>

                    <div class="loginform">
                        <div class="input">
                            <input autocomplete="off" type="text" name="id" placeholder="아이디" / class="text">
                        </div>
                        <div class="input">
                            <input type="password" name="password" placeholder="비밀번호" class="text" />
                        </div>

                        <div class="submit">
                            <input type="submit" value="로그인" class="text">
                        </div>
                        <div class="submit">
                            <a href='/public/signin.html'>회원가입</a>
                        </div>
                    </div>
                </form>
             <% include ../views/footer%>
        </body>

</html>
