<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<base href='/'>
<!DOCTYPE html>
<html>
<head>
    <% include ./header%>
    </head>
    <body>
    <h3>상품 정보 페이지</h3><br>
        <p>로그인 후 볼 수 있는 페이지 입니다. 컨텐츠 구상후 디자인 예정이고, <br>로그인 딱 완료화면 이 화면으로 넘어온다고 보면 됨</p>
        <br><br>
        <form method="get" action="/" id="search" onsubmit ="return setAction();">
            <input type="text" id="searchstring">
        <input type="submit" value="작성" />
        </form>
        <script>
        function setAction()
            {
                var ac = document.getElementById("searchstring").value;
                console.log(ac);
                document.getElementById("search").action = "/posts/search/all/"+ac+"/1";
                return true;
                
            }
        </script>
    </body>
</html>