<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>로그인 하면 들어오게 되는 페이지</title>
    </head>
    <body>
        <ul class="nav nav-tabs">
  <li role="presentation"><a href='/main'>Home</a></li>
  <li role="presentation"><a href='/hotposts/1'>핫 게시판</a></li>
  <li role="presentation"><a href='/posts/1'>게시판</a></li>
  <li role="presentation"><a href='/logout'>logout</a></li>
</ul>
    <h3>상품 정보 페이지</h3><br>
        <p>로그인 후 볼 수 있는 페이지 입니다. 컨텐츠 구상후 디자인 예정이고, <br>로그인 딱 완료화면 이 화면으로 넘어온다고 보면 됨</p>
        <br><br>
    </body>
</html>