<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>글 작성</title>
    </head>
    <body>
    <h1>글 쓰기</h1>
        <br>
        <form method="post" action="/process/post/update/<%= results._doc._id%>" enctype="multipart/form-data">
        <table>
            <%       var curTitle = results._doc.title;
                var curContent = results._doc.content;
            %>
            <tr>
            <td><label>제목</label></td>
            <td><input type="text" name="title" value="<%= curTitle%>"/></td>
            </tr>
            <tr>
            <td><lable>글내용</lable></td>
                <td><input type="text" name="content" value="<%= curContent%>"/></td>
            </tr>
            </table>
            <input type='file' name='userimage' multiple='multiple'>
            <input type="submit" value="작성" />
        </form>
        <br>
    </body>
</html>