<base href="/">
<!DOCTYPE html>
<html>

<head>
    
    <% include ../views/header%>
    <meta charset="UTF-8">
    <title>글 작성</title>
</head>
<body>
    <% include ../views/rfooter%>
    <% if(results.provider=="soso"){%>
            <form method="post" action="/process/profile/update">
                <input type="text" id="nickname" value="">
                <input type="text" id="" value="">
                <input type="text" id="nickname" value="">
                <input type="text" id="nickname" value="">
    
    
    
    
            </form>
        }else{
             
            
            
                
                
            }%>
</body>


</html>
