<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>사용자추가 테스트</title>
</head>

<body>
    <h1>로그인 성공</h1>');
    <div>
        <p>사용자 아이디 : '+
            <%= uid%>+'</p>
    </div>
    <div>
        <p>사용자 이름 : '+
            <%= uname%>'</p>
    </div>
    <br><br><a href='/public/login.html'>다시 로그인 하기</a>
    <br><br><a href='/process/product'>상품 보러가기</a>
</body>

</html>