<!Doctype html>
<html></html>
<head> 
<meta charset='urf-8'>
</head>
    <body>
<form action='upload' method='post' enctype="multipart/form-data">
<input type='file' name='userfile' multiple='multiple'>
    <input type='submit'>
</form>
</body>