<div class="leftside">
    <div id="aside">
        <h2 class="tit">What We Do</h2>
        <nav id="lnb" class="lnb">
            <ul>
                <li class="on"><a href="/resolveposts/1">개선된 불편사항은?</a></li>
                <li class="on"><a href="/accident/1">전체글 보기</a></li>
             
            </ul>
        </nav>
    </div>
</div>

