.contain form {
    display: block;
    width: 700px;
    height: 600px;
    position: relative;
}
.contain table {
    width: 100%;
    height: 440px;
    overflow-y: auto;
}


.contain table tr {
    border: 1px #e3e3e3 solid;
    display: block;
    font-size: 17px;
    line-height: 17px;
    text-align: left;
    padding: 10px 10px;
}

.contain table tr td input {
    border: 0;
    width: 100%;
    outline: none;

}

label {
    margin: 0;
    padding: 0 10px 0 0;
}

#posttitle {
    height: 20px;
}

#postcontent {
    height: 400px;
}

#postcontent .box {
    height: 100%;
}

#postcontent .box textarea {
    outline: none;
    height: 100%;
    width: 100%;
    resize: none;
}

.img_wrap {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.img_wrap img {
    max-width: 100%;
}

.btn-group{
    display: block;
    background-color:white;
    color: black;
    font-size: 16px;
}

.dropdown-menu{
    display: none;
    position: absolute;
    background-color: lightgray;
    min-width: 160px;
}
.dropdown-menu a{
    color: black;
    display: block;
}
.dropdown-menu a:hover{
    background: #f1f1f1;
    display: block;
}
.show{
    display: block;
}